// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post{
  border-bottom: 1px solid lightgray;
  padding: 5px 0;
  margin: 10px 0;

  .comment {
    background: #f4f4f4;
    padding: 5px;
    margin: 10px 0;
    border-radius: 3px;
    font-size: 12px;

    .time {
      margin: 0;
      color: gray;
      font-style: italic;
      font-size: 10px
    }
  }

  input[type="text"] {
    font-size: 12px;
  }
}
